.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 0.9375rem;
    padding: 0.9375rem;

    &__item {
        background-color: $color-grey-light-3;
        padding: 0.625rem;

        &--1 {
            background-color: $color-primary;
            grid-row: 1 / span 4;
            grid-column: 1 / span 1;
            border: 4px darken($color-primary, 10%) solid;
        }

        &--2 {
            background-color: $color-secondary;
            grid-row: 2 / span 6;
            grid-column: 2 / span 1;
            border: 4px darken($color-secondary, 10%) solid;
        }

        &--3 {
            background-color: $color-action;
            grid-row: 5 / span 4;
            grid-column: 1 / span 1;
            border: 4px darken($color-action, 10%) solid;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}
