.application {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content 1fr min-content;
    grid-gap: 0;
    grid-template-areas:
      "menu          "
      "page-content"
      "footer        ";
      height: 100vh;
    width: 100%;
}


.main-header {
    grid-area: menu;
}


.footer {
    grid-area: footer;
}
