.footer {
    background-color: $color-grey-dark-3;
    grid-area: footer;
    @include cancel-wrapper;

  &__copyright {
    color: $color-grey-dark;
    font-size: 1.4rem;
    margin: 0 auto;
    text-align: center;
  }
}
