.main-nav {
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__item {
        list-style-type: none;
        padding: 0;
        font-size: 3rem;
        margin-right: 3rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
