# ignore terraform binaries
.terraform/

# ignore state file which include plain text passwords
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tfvars including env that should not be saved
*.tfvars