.about {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto min-content 1fr;
  grid-gap: 0;
  grid-template-areas:
    "main"
    "action"
    "skyline            "
  ;
  height: 100vh;
}

.about {
  grid-area: about;
}

.main {
  grid-area: main;
  max-width: 37.5rem;
  @include margin-bottom(2);
}

.action {
  grid-area: action;
}

.skyline {
    grid-area: skyline;
    justify-self: flex-end;
    align-self: flex-end;
}
