.about {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 0 1.875rem;
  grid-template-areas:
    "main"
    "action"
    "skyline            "
  ;
}

.about {
  grid-area: about;
}

.main {
  grid-area: main;
}

.action {
  grid-area: action;
}

.skyline {
    grid-area: skyline;
    justify-self: flex-end;
    align-self: flex-end;
}
