.home {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1.5fr);
    grid-auto-rows: auto;
    grid-gap: 0 1.875rem;
    grid-template-areas:
        "idea-message        idea-picture"
        "idea-button         idea-button"
        "knot                knot"
        "solutions-message   solutions-picture"
        "unknot              unknot"
        "contact-us-heading  contact-us-heading"
        "contact-us          contact-us"
        ".                   hand-shake";

    @include respond(tablet-landscape) {
        grid-template-columns: 1fr 1fr;
    }

    @include respond(tablet-portrait) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "idea-message       "
            "idea-picture       "
            "idea-button        "
            "knot               "
            "solutions-clouds   "
            "solutions-message  "
            "solutions-picture  "
            "unknot             "
            "contact-us-heading "
            "contact-us         "
            "hand-shake         ";
    }
}

.idea-message {
    grid-area: idea-message;
}

.idea-button {
    grid-area: idea-button;
    justify-self: center;
}

.idea-picture {
    grid-area: idea-picture;
}

.knot {
    grid-area: knot;
}

.unknot {
    grid-area: unknot;
}

.solutions-message {
    grid-area: solutions-message;
}

.solutions-clouds {
    grid-area: solutions-clouds;
}

.solutions-picture {
    grid-area: solutions-picture;
}

.contact-us-heading {
    grid-area: contact-us-heading;
}

.contact-us {
    grid-area: contact-us;
    //
    // Contact form grid item
    //  - contact form is sized (in form wrapper)
    //  - this flex controls position on page
    //

    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 99%);
}

.hand-shake {
    grid-area: hand-shake;
}
