<header class="main-header">
    <div class="main-header__container">
        <%= link_to root_url, id: 'home-logo' do %>
            <h1 class="main-header__logo">
                <%= inline_svg "logo.svg", class: 'logo' %>
            </h1>
        <% end %>

        <nav>
            <ul class="main-nav__list">
                <li class="main-nav__item">About</li>
                <li class="main-nav__item">Work</li>
                <li class="main-nav__item">Contact</li>
            </ul>
        </nav>
    </div>
</header>
