//
//  Example
//  button
//  <a
//    href="#"
//    class="c-btn c-btn--primary">My Text</a>
//
.c-btn {

    display: inline-block;
    border: none;
    padding: 0.63rem 0rem;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;

    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-2px);
        filter: brightness(95%);
        // subtle shadow - no x but some y, 10px is the blur
        box-shadow: 0 .15rem .4rem rgba($color-black, .2);
    }

    &:focus {
        outline: 1px solid $color-white;
        outline-offset: -4px;
    }

    &:active {
        transform: scale(0.99);
        box-shadow: 0 .3rem .6rem rgba($color-black, .2);
    }

    &--small {
        width: 9rem;
    }

    &--medium {
        padding: .9rem .6rem;
        width: 15rem;
    }

    &--large {
        width: 22rem;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-white;
        border: 1px darken($color-secondary, 15%) solid;
    }

    &--action {
        background-color: $color-action;
        color: $color-white;
        border: 1px darken($color-action, 15%) solid;
    }

    // https: //bugs.chromium.org/p/chromium/issues/detail?id=262679
    // fieldsets doesn't work as flex-item in Chrome
    // log running bug
    &--chrome-flexbox-fieldset-bug-hack {
        width: 100%;
    }
}
