// Form component
.c-form__highlight {
    background-color: $color-primary;
    clip-path: polygon(0 0, 100% 3%, 100% 97%, 0 100%);
}

.field_with_errors {
    display: flex;
    flex-direction: column;
    border: 2px $color-action solid;
    color: darken($color-action, 30%);
    font-size: 1.125rem;
    padding: 0 .3125rem;
}
