//
// Media object
//
.c-media {
    align-items: center;
    display: grid;
    grid-template-areas: "figure body";
    grid-template-columns: 2.5rem 1fr;
    grid-gap: 0 1.25rem;

    &__figure {
        grid-area: figure;
        font-size: 1rem;
    }

    &__body {
        grid-area: body;
        font-style: normal;
        justify-self: flex-start;
    }
}
