//
// Media object
//
.c-media {
    @apply grid justify-items-center items-center;
    grid-template-areas: "figure body";
    grid-template-columns: 5rem 1fr;
    grid-gap: 0 1.25rem;

    &__figure {
        grid-area: figure;
        @apply text-xs;
    }

    &__body {
        grid-area: body;
        @apply not-italic justify-self-start;
    }
}
