// Form component
.c-form {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #f5f4e5;

    &__heading {
        display: block;
        width: 100%;
        font-size: 3rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 4rem;
        padding-top: 3rem;
        padding-left: 3rem;
        @include margin-bottom(1);
    }

    &__input {
        font-size: 2rem;
    }

    &__label {
        color: black;
        display: block;
        font-size: 2rem;
        @include margin-bottom(1);
    }

    &__image {
        align-self: flex-start;
        width: 12rem;
        height: 5rem;
    }

    &__field {
        display: block;
        font-size: 2rem;
    }

    &__row {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        @include margin-bottom(2);

        &+& {
            // padding-top: $rhythm;
            @include margin-bottom(2);
        }

        //
        // Make any field fill at least 2/3
        [name] {
            min-width: percentage(5/6);
        }
    }

    &__highlight {
        background-color: #3EB650;
        clip-path: polygon(0 0, 100% 3%, 100% 97%, 0 100%);
        padding-top: 3rem;
        padding-bottom: 3rem;
        @include margin-bottom(3);
    }

    &__wrapper {
        min-width: 30rem;

        @include respond(phone) {
            width: 95%;
        }
    }
}
