<%= render_svg "works/lettings/logo", styles: 'gallery__img test_letting h-60 w-full object-cover' %>

Lettings
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="text-2xl whitespace-pre-line">
    Designing an accountancy or other complex program requires much detailed discussion to produce the best results. This was certainly true when we wrote software for a renting and letting company.

    We needed a flexible approach to deal with the different types of renting and service charges and  the various due dates to create accurate invoices and account details. The time spent understanding the system and robust testing paid off.
  </div>
  <div>
    <%= image_pack_tag 'media/images/works/lettings/property_show_minimized.jpg', class: 'h-80' %>
  </div>
  <div class="text-2xl">
      The developed software dealt seamlessly with the complexity of various starting and due dates, saving the client valuable time.
      Computerized invoices were successful in creating a more efficient payment return and the  detailed data available made for efficiencies in management control.
  </div>
  <div>
    <%= image_pack_tag 'media/images/works/lettings/properties_index.png', class: 'h-80' %>
  </div>
</div>




<%= image_pack_tag 'media/images/works/lettings/properties_index.png' %>


