<div class="page-content">
  <h1 class="text-4xl mt-6 mb-4">Lettings <span class="text-2xl text-gray-400">- Rental software</span></h1>
  <%= render_svg "works/lettings/logo", styles: 'gallery__img test_letting h-30 w-full' %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="text-2xl">
      <p class="mt-4">Designing an accountancy or other complex program requires much detailed discussion to produce the best results. This was certainly true when we wrote software for a renting and letting company.</p>

      <p class="mt-4">We needed a flexible approach to deal with the different types of renting and service charges and the various due dates to create accurate invoices and account details. By understanding the client's requirements and giving a live system to try out we made sure they got what they wanted.</p>
    </div>
    <div class="text-2xl">
        <p class="mt-4">The time spent developing the robust testing paid off as the system has been maintained on supported versions of software without the client having downtime during upgrades.</p>
        <p class="mt-4">The developed software dealt seamlessly with the complexity of various starting and due dates, saving the client valuable time.
        Computerized invoices were successful in creating a more efficient payment return and the  detailed data available made for efficiencies in management control.</p>
    </div>
    <div class="mt-4">
      <%= image_pack_tag 'media/images/works/lettings/properties_index.jpg' %>
    </div>
    <div class="mt-4">
      <%= image_pack_tag 'media/images/works/lettings/property_show_maximized.jpg', class: '' %>
    </div>
  </div>
</div>




