<div class="page-content">
  <%= render "shared/breadcrumbs" %>
  <h1 class="text-4xl mt-6">Schedule Gardener <span class="text-2xl text-gray-400">- Online booking</span></h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4">
    <div class="text-2xl">
      <p class="mt-4">Unreliable British weather meant gardeners and their clients spent too much time on the phone booking and rebooking time slots.</p>

      <%= render_svg "works/schedule_gardener/leaf", styles: 'gallery__img test_letting h-20 w-full' %>

      <p class="mt-4">Moving to on line messaging and booking allowed more time for actual gardening, improving efficiency. With appointments easily visible any time slot mix-ups were eliminated creating client confidence. The system allowed the gardener to write up what work was done and schedule the work for the next visit particularly useful if the client was out.</p>
    </div>

    <div class="mt-4">
      <%= image_pack_tag 'media/images/works/schedule_gardener/demo_1.jpg' %>
    </div>

    <div class="mt-4 md:col-span-2">
      <%= image_pack_tag 'media/images/works/schedule_gardener/demo_2.jpg' %>
    </div>
  </div>
</div>
