*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    margin: 0;
    padding: 0;
}

svg {
    margin: 0;
    display: block;
}

a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
}
