---
- import_role:
    name: dokku_bot.ansible_dokku
  vars:
    dokku_plugins:
      - name: letsencrypt
        url: https://github.com/dokku/dokku-letsencrypt.git

- name: config:set  {{ application }} DOKKU_LETSENCRYPT_EMAIL=${DOKKU_LETSENCRYPT_EMAIL}
  dokku_config:
    app: "{{ application }}"
    config:
      DOKKU_LETSENCRYPT_EMAIL: "{{ ops_email }}"
  tags:
    - dokku
    - ssl

- name: website {{ application }}
  uri:
    url: "http://{{ domain }}"
  ignore_errors: yes
  register: http_response
  tags:
    - dokku
    - ssl

# Letsencrypt auto renew
# - If this fails: dokku letsencrypt bcs-io
#
# Auto renew when we have a website returning 200 (OK!) or when we get error code saying SSL has failed
#
# -1 and CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>",
#
# However if the website isn't up we should not waste a letsencrypt renewal which will fail:
#  "msg": "Status code was -1 and not [200]: Connection failure: Remote end closed connection without response",
#  "status": -1,
#
- name: letsencrypt {{ application }}
  command: dokku letsencrypt:auto-renew {{ application }}
  when:
    - "'encrypt' in group_names"
    - http_response.status == 200 or (http_response.status == -1 and http_response.msg is search("CERTIFICATE_VERIFY_FAILED"))
  tags:
    - dokku
    - ssl
