<%= content_for :title, "Work | BCS.io" %>

<div class="work">
  <div class="work-main">
    <h1 class="heading-primary heading-primary--title">Work</h1>

    <main class="mt-4 max-w-md text-center text-xl mx-auto">
      <div class="">We design advanced websites that are built around your customers' needs and your business goals.
We will collaborate closely throughout all stages of the project:  in design, implementation, testing, training and support.</div>
    </main>

    <section class="grid grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-2 grid-rows-2 my-4">
      <figure class="bg-yellow-300 border-4 border-yellow-500 rounded">
        <%= link_to lettings_works_path, class: 'no-underline' do
          render_svg "adams-logo", styles: 'h-full w-full block test_letting '
        end %>
      </figure>

      <figure class="bg-red-300 border-4 border-red-500 rounded">
        <%= link_to "https://github.com/BCS-io/bcs.io" do
          render_svg "work/bcs_io/cover", styles: 'h-full w-full block test_bcs_io', title: 'BCS.io'
        end %>
      </figure>

      <figure class="bg-green-300 border-4 border-green-500 rounded">
        <%= link_to schedule_gardener_works_path, class: 'no-underline' do
          render_svg "works/schedule_gardener/leaf", styles: 'h-full w-full block test_leaf'
        end %>
      </figure>
    </section>
  </div>
</div>
